node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build outputs
*.log

# Capacitor
android/app/build
android/.gradle
android/local.properties
